<!doctype html>
<!-- https://suissi-js.github.io/assignment1/ -->
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
        (Warning: We do NOT consider and empty item, i.e., `, ,` as an item towards the count!)

         <div class="form-group">
             <input ng-model="dishes"style="border-color:{{borderColor}}" id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
             </div>
         <div class="form-group">
             <button ng-click="checkIfTooMuch()" class="btn btn-default">Check If Too Much</button>
         </div>
         <div style="color:{{messageColor}}" class="form-group message">
           {{message}}
         </div>
   </div>

</body>
<script src="angular.min.js"></script>
<script src="app.js"></script>
</html>
